body{
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%),url(./att.jpg);
    background-size: cover;
    padding: 0.5%;
}
#mainwrapper{
    margin-top: 2%;
    width: 50%;
    border-radius: 10px;
    background-color: rgba(196, 183, 183, 0.801);

}

#log{
    background-color: white;
    border: 2px solid black;
    border-radius: 40px;
    color: black;
    width: 100px;
    height: 40px;
}
#reg{
    background-color: black;
    border: 2px solid black;
    border-radius: 40px;
    color: white;
    width: 100px;
    height: 40px;
}
#reg:hover{
    background-color:rgba(12, 12, 12, 0.521) ;
    color: black;
    border: 2px solid black;
}
#log:hover{
    background-color:rgba(12, 12, 12, 0.521) ;
    color: black;
    border: 2px solid black;
}

#reg:active{
    background-color:rgba(12, 12, 12, 0.521) ;
    color: black;
    border: 2px solid black;
}
#log:active{
    background-color:rgba(12, 12, 12, 0.521) ;
    color: black;
    border: 2px solid black;
}